body {
  margin: 0;
  padding: 0;
}

.gallery-container {
  margin: 3rem;
  padding: 2rem;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-flow: dense;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
  font-family: 700;
  line-height: 2.8rem;
  text-align: center;
}
.box:nth-child(2n) {
  grid-column: span 3;
}
.box:nth-child(3n) {
  grid-column: span 2;
  grid-row: span 3;
}
.box:nth-child(5n) {
  grid-row: span 2;
}
